div(class="modal fade" id="configModal" tabindex="-1" role="dialog" aria-labelledby="configModalLabel" aria-hidden="true")
    div(class="modal-dialog" role="document")
        div(class="modal-content")
            div(class="modal-header")
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;
                    span(class="sr-only") Close

            div(class="modal-body")

                form
                    div(class="form-group row")
                        label(for="dragarea" class="col-sm-4 form-control-label") Dragarea based on
                        div(class="col-sm-8")
                            div(class="form-check")
                                label(class="form-check-label")
                                    input(type="radio" class="form-check-input" name="dragarea" id="dragarea_option1" value="0.79" checked)
                                    text Average car
                            div(class="form-check")
                                label(class="form-check-label")
                                    input(type="radio" class="form-check-input" name="dragarea" id="dragarea_option2" value="0.65")
                                    text Average bicycle
                            div(class="form-check")
                                label(class="form-check-label")
                                    input(type="radio" class="form-check-input" name="dragarea" id="dragarea_option3" value="0.575999")
                                    text Tesla MS
                            div(class="form-check")
                                label(class="form-check-label")
                                    input(type="radio" class="form-check-input" name="dragarea" id="dragarea_option4" value="0.575999")
                                    text Toyota Prius
                            div(class="form-check")
                                label(class="form-check-label")
                                    input(type="radio" class="form-check-input" name="dragarea" id="dragarea_option5" value="0.62245")
                                    text Chevrolet Volt
                            div(class="form-check")
                                label(class="form-check-label")
                                    input(type="radio" class="form-check-input" name="dragarea" id="dragarea_option6" value="0.724644")
                                    text Nissan Leaf
                            div(class="form-check")
                                label(class="form-check-label")
                                    input(type="radio" class="form-check-input" name="dragarea" id="dragarea_option7" value="0.69")
                                    text BMW i3 BEV
                            div(class="form-check")
                                label(class="form-check-label")
                                    input(type="radio" class="form-check-input" name="dragarea" id="dragarea_option8" value="0.71")
                                    text BMW i3 REX

                    //div(class="form-group row")
                    //    label(for="owmkey" class="col-sm-4 form-control-label") OpenWeatherMap key
                    //    div(class="col-sm-8")
                    //        input(type="text" class="form-control" id="owmkey" placeholder="Enter a valid key")

                    div(class="form-group row")
                        label(for="shownumbers" class="col-sm-4 form-control-label") Show numbers
                        div(class="col-sm-8")
                            input(type="checkbox" style="margin-top: 10px;" class="form-control" id="shownumbers" name="shownumbers")

                    div(class="form-group row")
                        label(for="debuglogging" class="col-sm-4 form-control-label") Log position (debugging)
                        div(class="col-sm-8")
                            input(type="checkbox" style="margin-top: 10px;" class="form-control" id="debuglogging" name="debuglogging")


                //div(class="row")
                //    div(class="col-md-12" style="padding-top:1em")
                //        label(for="dragarea") Tesla login
                //        form(class="form-inline")
                //            div(class="form-group")
                //                label(class="sr-only" for="email") Email
                //                input(type="text" class="form-control" id="email" placeholder="Enter email")
                //            div(class="form-group")
                //                label(class="sr-only" for="password")
                //                input(type="password" class="form-control" id="password" placeholder="Password")
                //            button(type="button" id="teslasignin" class="btn btn-primary") Sign in
            div(class="modal-footer")
                div(id="uid")