div(class="modal fade" id="configModal" tabindex="-1" role="dialog" aria-labelledby="configModalLabel" aria-hidden="true")
    div(class="modal-dialog" role="document")
        div(class="modal-content")
            div(class="modal-header")
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;
                    span(class="sr-only") Close

            div(class="modal-body")

                form
                    div(class="form-group row")
                        label(for="dragarea" class="col-sm-4 form-control-label") Dragarea
                            br
                            text (area * drag coefficient)
                        div(class="col-sm-4")
                            input(class="form-control" type="number" value="0.79" id="dragarea")

                    div(class="form-group row")
                        div(class="col-sm-12")
                            button(type="button" class="btn btn-dragarea btn-outline-primary btn-sm" id="dragarea_tesla_s")
                                text Tesla S (2.34 * 0.24)
                            button(type="button" class="btn btn-dragarea btn-outline-primary btn-sm" id="dragarea_tesla_3")
                                text Tesla 3 (2.22 * 0.23)
                            button(type="button" class="btn btn-dragarea btn-outline-primary btn-sm" id="dragarea_tesla_x")
                                text Tesla X (2.59 * 0.24)
                            button(type="button" class="btn btn-dragarea btn-outline-primary btn-sm" id="dragarea_avg_car")
                                text Average car
                            button(type="button" class="btn btn-dragarea btn-outline-primary btn-sm" id="dragarea_avg_bicycle")
                                text Average bicycle
                            button(type="button" class="btn btn-dragarea btn-outline-primary btn-sm" id="dragarea_prius")
                                text Toyota Prius
                            button(type="button" class="btn btn-dragarea btn-outline-primary btn-sm" id="dragarea_volt")
                                text Chevrolet Volt
                            button(type="button" class="btn btn-dragarea btn-outline-primary btn-sm" id="dragarea_leaf")
                                text Nissan Leaf
                            button(type="button" class="btn btn-dragarea btn-outline-primary btn-sm" id="dragarea_i3")
                                text BMW i3 BEV
                            button(type="button" class="btn btn-dragarea btn-outline-primary btn-sm" id="dragarea_i3_rex")
                                text BMW i3 REX


                    //div(class="form-group row")
                    //    label(for="owmkey" class="col-sm-4 form-control-label") OpenWeatherMap key
                    //    div(class="col-sm-8")
                    //        input(type="text" class="form-control" id="owmkey" placeholder="Enter a valid key")

                    div(class="form-group row")
                    div(class="form-group row")
                        label(for="shownumbers" class="col-sm-4 form-control-label") Show numbers
                        div(class="col-sm-8")
                            input(type="checkbox" style="margin-top: 10px;" class="form-control" id="shownumbers" name="shownumbers")

                    div(class="form-group row")
                        label(for="debuglogging" class="col-sm-4 form-control-label") Log position (debugging)
                        div(class="col-sm-8")
                            input(type="checkbox" style="margin-top: 10px;" class="form-control" id="debuglogging" name="debuglogging")


                //div(class="row")
                //    div(class="col-md-12" style="padding-top:1em")
                //        label(for="dragarea") Tesla login
                //        form(class="form-inline")
                //            div(class="form-group")
                //                label(class="sr-only" for="email") Email
                //                input(type="text" class="form-control" id="email" placeholder="Enter email")
                //            div(class="form-group")
                //                label(class="sr-only" for="password")
                //                input(type="password" class="form-control" id="password" placeholder="Password")
                //            button(type="button" id="teslasignin" class="btn btn-primary") Sign in
            div(class="modal-footer")
                div(id="uid")