@import 'main.styl'

body {
  background-color: gray;
  color: #c6c6c6;
}

a, a:hover {
  color: #c6c6c6;
}

.c-select {
  background-color: lightgray;
  border: 1px solid black;
}

.fa-moon-o {
  color:#c6c6c6;
  cursor: pointer;
}

option {
  background-color: gray;
  color: #c6c6c6;
  border: 1px solid black;
}

.btn-primary {
  background-color: darkgray
  border-color: darkgray
  color: #c6c6c6;
}

.modal-content {
  background-color: gray;
}

.footer {
  background: gray;
}