html, body {
  height: 97%;
}

a, a:hover {
  text-decoration: underline;
}

.svgcontainer {
  width: 350px;
  height: 340px;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto -4em;
}

.wrapper .container .row {
  margin-top:2em;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.footer {
  height: 4em;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

#locationAlert, #weatherAlert {
  display: none;
  position: fixed;
  top: 0;
  left: 25%;
  width: 50%;
}

#inner-message {
  margin: 0 auto;
}
