@import 'main.styl'

body {
  background-color: black;
  color: gray;
}

a, a:hover {
  color: gray;
}

.c-select {
  background-color: darkgray;
  color: black;
  border: 1px solid gray;
}

.fa-moon-o {
  color:black;
  cursor: pointer;
}

option {
  background-color: black;
  color: gray;
  border: 1px solid gray;
}

.btn-primary {
  background-color: darkgray
  border-color: darkgray
  color: black;
}

.modal-content {
  background-color: black;
  border: 1px solid gray;
}

.footer {
  background: black;
}